/*
=======
Fonts
=======
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/*
=========
Variables
=========
*/

:root{
 --clr-primary: #678e3e;
 --clr-primary-light:#beed8c;
 --clr-grey-1:#102a42;
 --clr-grey-5:#617d98;
 --clr-grey-10:#f1f5f8;
 --grey-50: #f0f4f8;
 --grey-200: #bcccdc;
 --grey-400: #829ab1;
 --clr-white:#fff;
 --fontFamily-primary1: "catamaran", sans-serif;
 --fontFamily-primary2: "Grand Hotel", cursive;
 --transition: all 0.3s linear;
 --spacing: 0.25rem;
 --radius: 0.5rem;
--red-light: #f8d7da;
--red-dark: #842029;
--green-light: #d1e7dd;
--green-dark: #0f5132;
--backgroundColor: var(--grey-50);
--fixed-width: 500px;
--borderRadius: 0.25rem;  
/* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 font-family: var(--fontFamily-primary1);
 background: var(--clr-white);
 color: var(--clr-grey-1);
 line-height: 1.5;
 font-size: 0.875rem;
}

a{
 text-decoration: none;
}

img{
 width: 100%;
 display: block;
}

h1, h2, h3, h4{
 letter-spacing: var(--spacing);
 text-transform: capitalize;
 line-height: 1.25;
 margin-bottom: 0.75rem;
}

h1{
 font-size: 3rem;
}

h2{
 font-size: 2rem;
}

h3{
 font-size: 1.5rem;
}

h4{
 font-size: 0.875rem;
}

p{
 margin-bottom: 1.25rem;
}

@media screen and (min-width:800px){
 h1{
  font-size: 4rem;
 }

 h2{
 font-size: 2.5rem;
}

h3{
 font-size: 2rem;
}

h4{
 font-size: 1rem;
}

body{
 font-size: 1rem;
}

h1, h2, h3, h4{
 line-height: 1;
}

}

/* more global css */

.btn{
 text-transform: uppercase;
 background: var(--clr-primary);
 color: var(--clr-white);
 padding: 0.375rem 0.75rem;
 letter-spacing: var(--spacing);
 display: inline-block;
 font-weight: 700;
 transition: var(--transition);
 font-size: 0.875rem;
 border: none;
 cursor: pointer;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover{
 color: var(--clr-primary);
 background: var(--clr-primary-light);
}

.clearfix::after, .clearfix::before{
 content: '';
 clear: both;
 display: table;
}

.section-title h3{
font-family: var(--fontFamily-primary2);
color: var(--clr-primary);
}

.section-title{
 margin-bottom: 2rem;
}

.section-center{
 padding: 4rem 0;
 width: 85vw;
 margin: 0 auto;
 max-width: 1170px;
}

@media screen and (min-width: 992px){
 .section-center{
  width: 95vw;
  padding: 4rem 1rem;
}
}

/*
=========
Animation
=========
*/
@keyframes show-navBar{
  0%{
    transform: scale(1)
  }

  50%{
    transform: scale(0.5);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes slideFromDown{
  0%{
    transform: translateY(1000px);
    opacity: 0;
  }

  50%{
    transform: translateY(-200px);
    opacity: 0.5;
  }

  75%{
    transform: translateY(50px);
    opacity: 0.75;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromUp{
  0%{
    transform: translateY(-1000px);
    opacity: 0;
  }

  50%{
    transform: translateY(200px);
    opacity: 0.5;
  }
  75%{
    transform: translateY(-50px);
    opacity: 0.75;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-btn{
  0%{
    /* transform: scale(0.3); */
    opacity: 0;
    transform: scale(1.2);
  }

  50%{
    /* transform: scale(0.6); */
    opacity: 0.5;
    transform: scale(1.5);
  }

  100%{
    /* transform: scale(1); */
    opacity: 1;
    transform: scale(1);
  }
}
