
 .about-img, .about-info{
  padding: 2rem 0;
 }
 
 .leftSide{
  text-align: left;
 }

 .about-picture-container{
  background: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary);
  max-width: 30rem;
  /* extra stuff */
  overflow: hidden;
 }

 .about-picture{
  transition: var(--transition);
 }

 .about-picture-container:hover .about-picture{
  opacity: 0.5;
  transform: scale(1.2);
 }

 .about-text{
  max-width: 26rem;
  color: var(--clr-grey-5);
 }

@media screen and (min-width: 992px){
 .about-img, .about-info{
  float: left;
  width: 50%;
 }

 .about-info{
  padding-left: 2rem;
 }
}
