.container{
 position: relative;
 background-color: var(--clr-black);
 border-radius: var(--borderRadius);
}

.projectImg{
 width: 100%;
 display: block;
 object-fit: cover;
 border-radius: var(--borderRadius);
 transition: var(--transition);
}

.link{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: var(--clr-primary);
 display: flex;
 align-items: center;
 justify-content: center;
 width: 2.5rem;
 height: 2.5rem;
 border-radius: 50%;
 transition: var(--transition);
 opacity: 0;
 cursor: pointer;
 font-size: 1.25rem;
}

.container:hover .projectImg{
 opacity: .5;
}

.container:hover .link{
 opacity: 1;
}

.productFooter{
 display: block;
 text-align: center;
}

.ProductH5{
 margin-right: 1.5rem;
 font-size: 1.5rem;
 color: var(--clr-primary);
}

.ProductP{
 font-weight: 400;
 font-size: 1.25rem;
 color: var(--clr-black);
 transform: translateY(-20px) translateX(-10px);

}