.products{
background: var(--clr-grey-10);
}

.products article{
 padding: 2rem 0;
}

.product-text{
 color: var(--clr-grey-5);
 max-width: 26rem;
}

.product{
 margin-bottom: 2rem;
}

.product-img{
 border-radius: var(--radius);
 margin-bottom: 2rem;
 height: 17rem;
 object-fit: cover;
}

.product-title{
 text-align: center;
}

.product-price{
 color: var(--clr-primary);
 text-align: center;
}


 @media screen and (min-width: 768px){
  .product{
   float: left;
   width: 50%;
   padding-right: 2rem;
  }

 }

 @media screen and (min-width: 992px){
  .product{
   width: 33.33%;
  }

 }

 @media screen and (min-width: 1200px){
  .products-info{
   float: left;
   width: 30%;
  }

  .products-inventory{
   float: left;
   width: 70%;
  }

  .product{
   margin: 0;
   padding: 0 1rem;
  }

 }
 .leftSide{
  text-align: left;
 }
