.sortSec{
 display:grid;
 grid-template-columns:auto auto 1fr auto;
 align-items: center;
 margin-bottom:2rem;
 column-gap:2rem 
}

@media (max-width:576px){
 .sortSec{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: .75rem;
 }
 .btn-container{
  width: 50px;
 }
 .sortLabel{
  display: inline-block;
  margin-right: .5rem;
 }
}

@media(min-width:768px){
 .sortSec{
  column-gap: 2rem;
 }
}

.PSort{
 text-transform: capitalize;
 margin-bottom: 0;
}

.btn-container{
 display: grid;
 grid-template-columns: 1fr 1fr;
 column-gap: .5rem;
}

button{
 background-color: transparent;
 border: 1px solid var(--clr-black);
 color: var(--clr-black);
 width: 1.5rem;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 font-size: 1.5rem;
}

.active{
 background-color: var(--clr-black);
 color: var(--clr-white);
}

.sort-input{
 border-color: transparent;
 font-size: 1rem;
 text-transform: capitalize;
 padding: .25rem .5rem;
}

label{
 font-size: 1rem;
 text-transform: capitalize;
}